
        #outer
        {
            width:100%;
            text-align: center;
        }
        .inner
        {
            display: inline-block;
        }
        .center {
        border: 2px solid;
        border-radius: 4px;
        text-align: center;
        }
        .bigbutton {
            width: 130px;
            height: 70px;
            
            border: 2px solid;
            border-radius: 4px;
            text-align: center;
            
            font-size: 21px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        .gen {
            width: 220px;
            height: 80px;
            border: 2px solid;
            border-radius: 5px;
            
            letter-spacing: 2px;
        }
        
